#operLayer{width:100%; height:100%; display:none; background:#666; position:absolute; top:0px; left:0px; z-index:9999;filter:alpha(opacity=30);opacity: 0.3;}
#loginframe{width:340px;}
#loginframe .payforanother{width:300px;}
#loginframe iframe{width:300px; height:150px; border:0; margin:0; padding:0;}
#notice{background:#fff8c8; border:1px solid #efd477;  height:24px; line-height:24px;}
#notice div{width:960px; margin:0 auto;}
#notice div strong{color:#f00;}
.lb img{filter: Alpha(opacity=20);-moz-opacity:0.2;opacity:0.2}
.b{font-size:14px; font-weight:bold; color:Red;}
.b label{font-size:12px; font-weight:normal; color:#000;}
.none{display:none;}
.line-dashed2 {border-bottom: 1px dashed #ccc;}
.y-help{background: url("../images/ii_1.jpg") no-repeat scroll 0 center transparent; color: #2F97B4; font-size: 12px; margin-left: 10px; padding-left: 20px; text-decoration: underline;}
.bg td {background: none repeat scroll 0 0 #DFEDFA;}
.y-payments{color:#000;}
.y-payments .hd{border: 1px solid #CCCCCC; line-height: 25px; padding-left: 10px;}
.y-payments .hdinstallment{border: 1px solid #CCCCCC; line-height: 65px; padding-left: 10px;}
.y-payments .hdinstallmentInstall{border: 1px solid #CCCCCC; line-height: 35px; padding-left: 10px;}
.y-payments .y-tab th, .y-payments .y-tab td{border: 1px solid #B3CCE0; line-height: 18px; padding: 10px;}
.y-payments .y-tab1 td{border: 1px solid #B3CCE0; line-height: 10px; padding: 10px;}
.y-payments .y-tab{border: 1px solid #B3CCE0; font-size: 14px; text-align: center;}
.i-active{ position:relative;}
.active{ background:url(../images/1_03_1.gif) no-repeat; position:absolute; width:40px; height:32px; left:55px; top:-32px}
.prel{ position:relative}
.active-tips{ background:#fff9d9; border:1px solid #fcbf90; color:#ff0101; padding:2px 10px; line-height:18px; position:absolute; left:210px; top:5px; font-size:12px}
.active-tips a{color:#2f97b4; text-decoration:underline}
.active-tips a:hover{ text-decoration:none}
/*支付限时*/
.pay-count-down,.pay-count-down-old,.pay-cd-layer,.pay-cd-old-layer{ background:url(../images/clock_1.png) no-repeat scroll 0 -140px;padding:25px 20px 45px 47px; color:#666}
.pay-count-down .fn1,.pay-count-down-old .fn1,.pay-cd-old-layer .fn1,.pay-cd-layer .fn1{font-size:14px; font-weight:bold;color:#e51a45}
.pay-cd-old-layer .fn1{ color:#000}
.pay-count-down-old{background-position:0 29px;}
.pay-cd-layer,.pay-cd-old-layer{ border-bottom:1px dotted #676767; padding:5px 0 15px 40px; margin-bottom:15px;background-position:0 0;}
.pay-cd-layer{background-position:0 -167px;}

.bgpaylayer .qd-btn01{float:left;width:118px;height:29px; line-height:29px;background:url(../images/b_1.jpg) no-repeat;font-size:14px;color:#333;text-align:center;margin:0 5px;}

.pay-count-down p.c4{color:#e51a45}
.pay-count-down p.f18,.pay-count-down-old p.f18{ font-size:20px;}
.pay-count-down p.f16,.pay-count-down-old p.f16{ font-size:16px; color:#000}
.pay-count-down p.f14,.pay-count-down-old p.f14{ font-size:14px}
.tips{padding:25px 20px 45px 47px; color:#666;color:#f00; font-weight:700;font-size:14px;}

<style type="text/css">
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;padding:0;} 
.credit-card{ padding:30px 0 0}
.credit-card dl{ line-height:25px; padding-bottom:10px; overflow:hidden;zoom:1}
.credit-card dl label input{ margin-right:5px}
.credit-card dt{ width:80px; float:left}
.credit-card dd{ width:600px; float:left}
.credit-card dd .t1{ float:left}
.credit-card dd .t2{ float:left; padding-left:30px}
.credit-card dd label{ padding-right:30px}

.credit-card02{ padding:20px 0 0; display:none}
.credit-card02 p{ line-height:25px;}
.credit-card-infos{ border:1px solid #ccc; padding:10px;overflow:hidden;zoom:1; margin-top:10px; width:560px;}
.credit-card-infos .cred-inof-fl{ width:120px; float:left; padding-top:3px; *padding-top:5px;}
.credit-card-infos .cred-inof-fr{ width:400px; float:left}
.credit-card-infos .cred-inof-fr li{ line-height:25px; overflow:hidden;zoom:1}
.credit-card-infos .cred-inof-fr li span.fl{ width:60px; float:left}
.credit-card-infos .cred-inof-fr li span.fr{ width:300px; float:left}

.m_dzyh{ width:231px; height:66px; background:url(../images/quickewallet_1.png) no-repeat 0 0; display:inline-block; margin-bottom:10px; position:relative;}
.m_dzyh_sz{ position:absolute; top:38px; left:70px; color:#FFF;}

/* 20160919 ChenMeifeng 支付方式 strat  */
.stages {  padding:15px 0; }
.stages .r { margin-right:20px; }
.stages li.itm { width:250px; margin-right:100px; }
.more { color:#69c1ec; padding-left:20px; vertical-align:middle; }
.mt40 { margin-top:40px;}
.details { display:none; }
.details span { margin: 0 8px; }
.details .lst { margin:20px 0 30px; font-size:14px;}
.details .lst .itm1 { color:#595959; padding:20px 0 20px 10px; border-top:1px solid #dcdcdc;}
.details .lst .itm1.on { background-color:#fafafa;}
.details .lst .itm1 .r { position:relative; top:2px; margin-right:20px; }
.details .lst .itm1 span { color:#b4b4b4;}
.details .lst .itm2 { border-bottom:1px solid #dcdcdc;}
/* 20160919 ChenMeifeng 支付方式 end  */