<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启日志输出-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--开启mybatis自带的二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mapper/user.mapper.xml"/>
        <mapper resource="mapper/assortment.mapper.xml"/>
        <mapper resource="mapper/sortdetails.mapper.xml"/>
        <mapper resource="mapper/management.mapper.xml"/>
        <mapper resource="mapper/city.mapper.xml"/>
        <mapper resource="mapper/order.mapper.xml"/>
        <mapper resource="mapper/message.mapper.xml"/>
        <mapper resource="mapper/history.mapper.xml"/>
        <mapper resource="mapper/seat.mapper.xml" />
    </mappers>
</configuration>