<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启日志输出-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <mappers>
        <mapper resource="mapper/user.mapper.xml"/>
        <mapper resource="mapper/assortment.mapper.xml"/>
        <mapper resource="mapper/management.mapper.xml"/>
    </mappers>
</configuration>