<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--<property name="loginUrl" value="/login.jsp"/>-->
        <property name="filterChainDefinitions">
            <value>
                <!--/login.jsp=anon-->
                <!--/user/login=anon-->
                /css/**=anon
                /js/**=anon
            </value>
        </property>
    </bean>

    <!--securityManager 交给spring管理-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="realm" ref="MyRealm"/>-->
        <!--完成自定义的realm分发操作-->
        <property name="authenticator" ref="MyRealmAuthenticator"/>
        <!--提供自定义的realm完成登录认证-->
        <property name="realms">
            <list>
                <ref bean="MyRealm"/>
                <ref bean="ManagerRealm"/>
            </list>
        </property>
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!--shiroRealm配置参数-->
    <bean id="MyRealm" class="com.damai.concert.realm.LoginRealm"/>
    <bean id="ManagerRealm" class="com.damai.concert.realm.ManagerRealm"/>
    <bean id="MyRealmAuthenticator" class="com.damai.concert.realm.MyRealmAuthenticator"/>

    <!--用cookie保存用户登陆状态的帮助类-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <!--cookie配置参数-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="remember"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="10"/>
    </bean>

</beans>